#newBook {
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}